<% include ../partials/header %>

  <h3 class="center-align">Hello, <%=user.name%> and welcome to your <%= title %>!</h3>
  <% if (user.portfolio.length > 0){ %>
  <p class="center-align">Below are the current portfolios we have created together</p>
    <table class="container highlight">
      <thead>
        <tr>
          <th>Name of Portfolio</th>
          <th>Time Horrizon</th>
          <th>Risk Tolerance</th>
          <th>Initial Investment</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
          <% user.portfolio.forEach(p=>{ %>
            <tr>
              <td><%= p.name %></td>
              <td><%= p.timeF %></td>
              <td><%= p.risk %></td>
              <td>$<%= p.inv %></td>
              <td><a href="#" class="btn-floating btn-large cyan pulse"><i class="material-icons">edit</i></a></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
      <% } else { %>
        <div class="divider"></div>
        <div class="section center">
          <h5>Make a portfolio to see it here!</h5>
        </div>
      <% } %>
      <h5 class="center">When you are ready to create another portfolio...</h5>
      <form action="/users/new" method="GET" class="container center">
        <input type="submit" class="waves-effect waves-light btn" value="Click Here!">
      </form>
  </body>
</html>
