<% include ../partials/header %>

<div class="container center">
  <p>Current portfolio: <span><%= port.name%></p></span>
  <p>Risk Tolerance: <span><%= port.risk%></p></span>
  <p>Initial Investment: <span>$<%=port.inv%></p></span>
  <p>Remaining Capital: <span>$<%= (parseFloat(port.inv) - parseFloat(port.usedC)).toFixed(2) %></p></span>
  <p>Time Frame: <span><%= port.timeF%></p></span>
  <p>Stock in this portfolio: </p>
  <% if (port.stock.length > 0){ %>
    <table class="highlight center">
      <thead class="center">
        <tr>
          <th><p class="center">Symbol</p></th>
          <th><p class="center">Purchase Price</p></th>
          <th><p class="center">Last Trade</p></th>
          <th><p class="center">Performance</p></th>
          <th><p class="center">Gain/Loss</p></th>
          <th><p class="center">Purhcase Date</p></th>
          <th><p class="center">Shares</p></th>
          <th><p class="center">Initial Investment</p></th>
          <th><p class="center">Current Value</p></th>
          <th><p class="center">Sell Stock</p></th>
          <th><p class="center">Refresh last trade</p></th>
        </tr>
      </thead>
      <tbody center>
      <% port.stock.forEach(s=>{ %>
        <tr>
          <td><p class="center"><%= s.name %></p></td>
          <td><p class="center">$<%= s.purPrice %></p></td>
          <td><p class="center">$<%= (s.lastTrade).toFixed(2) %></p></td>
          <td><p class="center"><%= (s.lastTrade - s.purPrice).toFixed(2) %></p></td>
          <td><p class="center">$<%= ((s.lastTrade - s.purPrice) *  Math.floor(s.investment / s.purPrice)).toFixed(2)%></p></td>
          <td><p class="center"><%= s.date.toDateString() %></p></td>
          <td><p class="center"><%= Math.floor(s.investment / s.purPrice) %></p></td>
          <td><p class="center">$<%= (s.purPrice * Math.floor(s.investment / s.purPrice)).toFixed(2) %></p></td>
          <td><p class="center">$<%= (parseFloat((s.purPrice * Math.floor(s.investment / s.purPrice)).toFixed(2)) + parseFloat(((s.lastTrade - s.purPrice) *  Math.floor(s.investment / s.purPrice)).toFixed(2))).toFixed(2) %></p></td>

          <td class="center">
            <form action="/users/<%= port._id %>/stocks/<%= s._id %>?_method=DELETE" method="POST">
              <input id="btn" type="submit" value="SELL">
            </form>
          </td>
          
          <td class="center">
            <form action="/refresh" method="POST">
              <input type="hidden" name="stock" value="<%= s._id %>">
              <input type="hidden" name="port" value="<%= port._id %>">
              <button><img src="https://img.icons8.com/metro/26/000000/refresh.png"></button>
            </form>
          </td>
        </tr>
      <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <div class="divider"></div>
    <div class="section center">
      <h5>No stocks yet! Add one!</h5>
    </div>
  <% } %>
    <div id="block-edit" class="container">
      <a href="/users/index">Back</a>
      <a id="middle" href="/users/<%=port._id%>/edit">Edit this Portfolio</a>
      <a href="/users/<%=port._id%>/stock/new">Buy a stock</a>
    </div>
    <form action="/users/<%= port._id %>?_method=DELETE" method="POST">
        <input id="btn" class="btn" type="submit" value="Delete this Portfolio">
    </form>
</div>

<% include ../partials/createFooter %>